/* centering could use some work here */
#menu {
    margin-top: 10%;
}
#menu ul {
    list-style: none;
    margin: 4% auto;
}
#menu li {
    width: 75%;
    margin: 2% auto;    
    text-align: center;
}
#menu h2 {
    width: 100%;
    margin: 1% auto;
}
.menu-note {
    font-size: 80%;
}
