#menu {
    margin-top: 13%;
}
#menu ul {
    list-style: none;
    margin: 4% auto;
}
#menu li {
    width: 60%;
    margin: 1% 20%;    
    text-align: center;
}
#menu h2 {
    width: 40%;
    margin: 1% auto;
}
.menu-note {
    font-size: 80%;
}
